<div class="container">
    <div id="inactive-chats-alert" class="alert alert-warning" ng-show="showInactiveChatsAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div clas="row">
        <div class="col-md-3">
            <h1>Guide</h1>
            <a class="btn btn-default">Admin User Guide</a>
        </div>
        <div class="col-md-6">
            <h1>Services Status</h1>
            <a href="{{serviceUrl}}" class="btn btn-default" role="button">Check Status</a>
        </div>
    </div>
</div>
