<div id="login-page" class="panel login-bckground">
    <div class="login-modal col-sm-offset-4">
        <h2 class="col-sm-offset-3 col-sm-7" style="margin-bottom: 30px"></h2>
        <div>
            <div id="loginModal" class="mdl-dialog center">
                <h4 class="mdl-dialog__title">Login</h4>
                <div class="mdl-dialog__content">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" ng-keypress="onEnter($event, username, password)"
                            type="text" ng-model="username"> <label class="mdl-textfield__label" for="sample4">Username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" ng-keypress="onEnter($event, username, password)"
                            type="password" ng-model="password"> <label class="mdl-textfield__label"
                            for="sample4">Password</label>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                        ng-click="login(username, password)">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>